<!-- {{stdArray | json}} -->
<h1 class="bg-warning p-4 text-white text-center">
    Students Table 
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>sr no.</th>
                        <th>first name</th>
                        <th>last name</th>
                        <th>email</th>
                        <th>contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArray; index as i">
                        <td>{{i + 1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
