.list-group{
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,.6);
    li{
        background-color: cadetblue;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
    }
}