ol{
    padding: 1rem;
    li{
        background-color: aqua;
        padding: .5rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}