<!-- <h2>this is my primary heading</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sed atque deleniti exercitationem suscipit officia, explicabo autem minima doloremque consequuntur, asperiores nostrum totam sint quasi! Quia molestiae dolorum ratione temporibus?</p> -->

<!-- <h1 class="bg-info text-white p-4 text-center text-uppercase">heading</h1> -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <div class="app-products"></div> -->
       <!-- <app-directives></app-directives> component directive -->
      <!-- <app-directives></app-directives> component directive -->
    </div>
  </div>
</div>

<!-- <app-list></app-list> -->
<!-- <app-stdtable></app-stdtable> -->
<!-- <app-card></app-card> -->
<!-- <app-todo></app-todo> -->
<!-- <app-tab></app-tab> -->
<app-ng-switch-tab></app-ng-switch-tab>
